.your-code {
  margin-top: 40px;
  border: 2px solid darkmagenta;
}

.active {
  background-color: #0c5460;
}
#heading{
   text-align: center;
   font-family: cursive;
   font-weight: bolder;
   color: darkorchid;
 }

 #data{
  
  font-family: cursive;
 
  
}